//student list page
.student-container {
    max-width: 300px;
    margin: 0 auto;
}
.student-container img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
@media only screen and (min-width:600px) {
	.student-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
    .student-container {
        width: 45%;
        margin: 0 0 1.5rem;
    }    
}
@media only screen and (min-width:900px) {
    .student-container {
        width: 30%;
    }    
}
//single student
.single-student .wp-post-image.alignright{
	display: block;
	float: none;
	margin-left: 0;
	margin-bottom: 1rem;

    @media only screen and (min-width:600px){ 
        display: inline;
		float: right;
		margin-left: 1.5rem;
        margin-bottom: none;
    }
}

.single-student{ 
    ul{ 
        margin-left:0; 
    }
    li{ 
        list-style-type: none;
        margin:0; 
        padding:0; 
        padding-bottom:1.5rem; 
    }
}

//taxonmy student page 
.type-student .wp-post-image.alignleft{
	display: block;
	float: none;
	margin-left: 0;
	margin-bottom: 1rem;

    @media only screen and (min-width:600px) {
            display: inline;
            float: left;
            margin-right: 1.5rem;
            margin-bottom: none;
        }  
    }

.archive.tax-student_category article {
    clear: both;
    padding-top: 1em;

    &:first-of-type {
        padding-top: 0;
    }
}


//portfolio button
.portfolio-button{ 
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    background-color: #a42c8c;
    border-radius: 500px;
    padding: 0.667rem 1.333rem;
    
    font-size: 1.15rem;
    color:#fff; 

    &:visited{ 
        color:#fff; 
    }
}