
.student-container {
    max-width: 300px;
    margin: 0 auto;
}
.student-container img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
@media only screen and (min-width:37.5em) {
	.student-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
    .student-container {
        width: 45%;
        margin: 0 0 3rem;
    }    
}
@media only screen and (min-width:56.25em) {
    .student-container {
        width: 30%;
    }    
}
//single student
.single-student .wp-post-image.alignright{
	display: block;
	float: none;
	margin-left: 0;
	margin-bottom: 1rem;
}

.single-student{ 
    ul{ 
        margin-left:0; 
    }
    li{ 
        list-style-type: none;
        margin:0; 
        padding:0; 
        padding-bottom:1.5em; 
    }
}
@media only screen and (min-width:37.5em) {
	.single-student .wp-post-image.alignright{
		display: inline;
		float: right;
		margin-left: 1.5rem;
		margin-bottom: 0;
	}  
}
//portfolio button
.portfolio-button{ 
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    word-break: break-word;

    background-color: #a42c8c;
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    
    font-size: 1.125em;
    color:#fff; 

    &:visited{ 
        color:#fff; 
    }
}