/* Header styles */
.site-header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.site-branding {
    flex-grow: 1;
    
}

.site-title {
	margin-bottom: 0;
}

.site-title a, .site-title a:hover, .site-title a:visited {
    color: #fff; 
    text-decoration: none;
    font-size: 36px; 
   
}

.site-description {
    color: #fff; 
    font-size: 14px; 
}

.main-navigation {
    text-align: center; 
}

.main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex; 
    justify-content: center; 
}

.main-navigation li {
    margin-right: 20px; 
    position: relative; 
}


.main-navigation ul ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #333; 
    min-width: 200px; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.main-navigation li:hover > ul {
    display: block;
}

.main-navigation ul ul li {
    margin-right: 0; 
}

.main-navigation ul ul a {
    display: block; 
    padding: 8px 16px; 
    color: #fff; 
    text-decoration: none;
    font-size: 14px; 
}

.main-navigation ul ul a:hover {
    background-color: #555; 
}

.main-navigation a, .main-navigation a:visited {
    color: #fff; 
    text-decoration: none;
    font-size: 16px; 
}

.main-navigation a:hover {
	text-decoration: underline;
}


