/* Footer Styles */
.site-footer {
    background-color: #333; /* Change the background color as needed */
    color: #fff; /* Set text color to white */
    padding: 50px 0; /* Adjust padding as needed */
    text-align: center; /* Align content to center */
  }
  
  .footer-logo img {
    width: 150px; /* Adjust logo width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .credits {
    margin-top: 30px; /* Adjust margin as needed */
  }
  
  .credits h3 {
    font-size: 20px; /* Adjust font size as needed */
    color: #fff; /* Set text color to white */
  }

  .credits a {
    color: white;
    
  }
  
  .footer-navigation {
    margin-top: 30px; /* Adjust margin as needed */
    text-decoration: none;
  }
  
  .footer-navigation h3 {
    font-size: 20px; /* Adjust font size as needed */
    color: #fff; /* Set text color to white */
  }

  .footer-navigation a {
    color: white;
    text-decoration: none;
  }

  .footer-navigation ul {
    list-style-type: none;
    padding-left: none;
  }
  
  .site-info {
    margin-top: 30px; /* Adjust margin as needed */
  }
  
  .site-info a {
    color: #fff; /* Set link color to white */
  }
  
  .site-info a:hover {
    color: #ccc; /* Change link color on hover */
    text-decoration: underline; /* Add underline on hover */
  }
  
  .sep {
    color: #fff; /* Set separator color to white */
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .footer-logo img {
      width: 100px; /* Adjust logo width for smaller screens */
    }
  }
